{% extends 'base.html.twig' %}

{% block title %}Mes Certifications{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/certification.css') }}">

    <header>
        <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
            <h1>Knowledge Learning</h1>
        <a href="/logout">DECONNEXION</a>
    </header>

    <main>
        <h2>Mes Certifications</h2>

        {% if certifications is empty %}
            <p>Aucune certification obtenue pour le moment.</p>
        {% else %}
            <ul>
                {% for certification in certifications %}
                    <li>
                        {{ certification.cursus.name }} - Obtenue le {{ certification.obtainedAt|date('d/m/Y') }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="{{ path('app_profile') }}">Retour</a>
    </main>

    <footer>
        <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
    </footer>
{% endblock %}