{% extends 'base.html.twig' %}

{% block title %}{{ theme.name }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/certification.css') }}">

    <header>
        <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
            <h1>Knowledge Learning</h1>
        <a href="/logout">DECONNEXION</a>
    </header>

    <main>
        <h2>{{ theme.name }}</h2>

        <h3>Cursus disponibles</h3>

                {% for cursus in theme.cursuses %}
                    <h4>
                        {{ cursus.name }}
                        {% if cursus not in app.user.purchasedCursuses %}
                            - {{ cursus.price }}€
                            <a href="{{ path('buy_cursus', { id: cursus.id }) }}" class="buy">Acheter</a>
                        {% endif %}
                    </h4>

                    <ul>
                        {% for lesson in cursus.lessons %}
                            <li>
                                {{ lesson.name }}

                                {% if lesson not in app.user.purchasedLessons %}
                                    - {{ lesson.price }}€
                                    <a href="{{ path('buy_lesson', { id: lesson.id }) }}" class="buy">Acheter</a>
                                {% else %}
                                    <a href="{{ path('app_lesson_show', { id: lesson.id }) }}">Accéder à la leçon</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}


        <a href="{{ path('app_profile') }}">Retour</a>
    </main>

    <footer>
        <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
    </footer>
{% endblock %}