{% extends 'base.html.twig' %}

{% block title %}{{ theme.name }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/certification.css') }}">

    <header>
        <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
            <h1>Knowledge Learning</h1>
        <a href="/logout">DECONNEXION</a>
    </header>

    <main>
        <h2>{{ theme.name }}</h2>

        <h3>Cursus disponibles</h3>

                {% for cursus in theme.cursuses %}
                    <h4>
                        {{ cursus.name }}
                        {% if cursus not in app.user.purchasedCursuses %}
                            - {{ cursus.price }}€
                            <button onclick="buyItem('cursus', {{ cursus.id }})">Acheter</button>
                        {% endif %}
                    </h4>

                    <ul>
                        {% for lesson in cursus.lessons %}
                            <li>
                                {{ lesson.name }}

                                {% if lesson not in app.user.purchasedLessons %}
                                    - {{ lesson.price }}€
                                    <button class="btn btn-success" onclick="buyItem('lesson', {{ lesson.id }})">Acheter</button>
                                {% else %}
                                    <a href="{{ path('app_lesson_show', { id: lesson.id }) }}">Accéder à la leçon</a>
                                {% endif %}

                                {% if lesson in app.user.validatedLessons %}
                                    <span class="validation">Leçon validée ✅</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}


        <a href="{{ path('app_profile') }}">Retour</a>
    </main>

    <footer>
        <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
    </footer>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("{{ stripe_public_key }}");

        function buyItem(type, id) {
            fetch(`/create-checkout-session/${type}/${id}`)
                .then(response => response.json())
                .then(session => {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(result => {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(error => {
                    console.error("Erreur Stripe:", error);
                });
        }
    </script>

{% endblock %}