{% extends 'base.html.twig' %}

{% block title %}Gérer un Utilisateur{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/userForm.css') }}">

    <header>
        <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
            <h1>Back-office</h1>
        <a href="/logout">DECONNEXION</a>
    </header>

    <main>
        <h2>
            {% if user.id %}
                Modifier
            {% else %}
                Ajouter
            {% endif %}
            un Utilisateur
        </h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a href="{{ path('admin_users') }}">Retour</a>
    </main>

    <footer>
        <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
    </footer>
{% endblock %}
